header {
  background-color: bisque;
}

main {
  background-color: #d6b48d;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.category-btn {
  background-color: #de9312;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.category-btn:hover {
  background-color: #8c4d0a;
}

/* #details-btn {
  background-color: #8c4d0a;
  border: none;
  cursor: pointer;
  display: block;
  margin: 4px 2px;
  padding: 3px 6px;
  width: 100px;
} */

.recipe-card {
  background-color: #bcaa8a;
  border: solid rgb(79, 51, 13) 1px;
  border-radius: 8px;
}

